@import url(../css/reset.css);

$white: rgb(255, 255, 255) ;
$eclipse1: #09A7CA ;
$eclipse2: #056088 ;
$eclipse3: #023957 ;

.header {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.header.eclipse {
    background-color: $eclipse2;
}

.site__logo {
    display: inline-block;
    font-size: 66px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    padding-left: 50px;
}



.nav {
    &__list {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    }

    &__link {
    margin: 0 40px 0 40px;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: white;
    }

    &__link:hover {
        color: black;
        transition: all 2s ease;
    }
}

.burger {
    display: none;
}

@media (max-width: 1300px) {
    .header__inner {
        padding-right: 20px;

        .nav  {
            visibility: hidden;
            opacity: 0;
            width: 100%;
            transition: all 1s ease;
            position: absolute;
        }
    
        /* Burger-menu*/
    
        .nav._active {
            visibility: visible;
            opacity: 1;
            background-color: $eclipse2;
            margin: 50px 0 0 0;
            width: 100%;
            right: 0;
            text-align: center;
            z-index: 1;
        }
    
        .nav__list {
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
    
        .nav__link {
            margin-bottom: 15px;
            font-size: 50px;
        }
    
        .burger {
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            z-index: 5;
            margin-top: 30px;

            
        }
    
        .burger span,
        .burger::before,
        .burger::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 10%;
            transition: all .2s linear;
            background-color: #fff;
        }
    
        .burger::before,
        .burger::after {
            content: "";
        }
    
        .burger::before {
            top: 0;
        }
        
        .burger::after{
            bottom: 0;
        }
    
        .burger span {
            top: 50%;
            transform: translate(0px, -50%)
        }
    
        
    }
    
}



@media (max-width: 700px) {
    .header {
        background-color: $eclipse2;

        &__inner {

            .site__logo {
                padding-left: 20px;
            }
        }
    }
}

/* Intro 
======================================*/

.intro {
    height: 100vh;
    background: url("../img/intro-img.jpg") center no-repeat;
    background-color: $eclipse2;
    background-size: cover;
    color: white;
    object-fit: cover;
    

    &__inner {
        padding:150px 0 0 150px;
        text-align: left;
    }

    &__title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 52px;
        padding-bottom: 25px;
        line-height: 78px;
    }

    &__subtitle {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        padding-bottom: 50px;
    }

    .open__modal {
        display: inline-block;
        padding: 25px 0 ;
        width: 180px;
        height: 80px;
        background-color: $eclipse1;
        text-align: center;
        color: white;
        vertical-align: top;
        cursor: pointer;
        transition: all 2s;
        font-size: 20px;
        border: none;
        &:hover {
            background-color: $eclipse3;
        }
    }

    &-img {
        margin: 165px 35px;
        text-align: right;
        &:hover {
            transition: 1s;
            outline: $eclipse3;
        }
    }

    &-img__item {
        transition: 1s;
        &:hover {
            transform: scale(1.2);
        }
    }   
}


@media (max-width: 1300px) {

    .intro {

        &__inner {
            text-align: left;
            padding: 150px 15px;
        } 

        &-img {
            display: none;
        }
    }

    
}

@media (max-width: 700px) {

    .intro {

        &__inner {
            padding: 150px 15px;
        }
        
        &__title {
            font-size: 35px;
        }
    }

    &-img {
        display: none;
    }
    
}

/* BUTTON GO TO PAGE 
====================================*/
.button__page {
    display: inline-block;
    padding: 25px 0 ;
    width: 180px;
    height: 80px;
    background-color: $eclipse1;
    text-align: center;
    text-decoration: none;
    color: white;
    vertical-align: top;
    cursor: pointer;
    transition: all 2s;
    &:hover {
        background-color: $eclipse3;
    }
}
/*====================================*/

/* Section title and sub title
====================================================*/ 

.section__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: #056088;
    padding-bottom: 16px ;
}

/*.section__subtitle {

}*/

/*====================================================*/

/* About Company
========================================*/

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.ourcompany {
    display: flex;
    padding-top: 113px;

    &-gallery {
        display: inline-grid;
        grid-template-areas: "left" "right";
        grid-template-columns: repeat(2, 310px);
        grid-template-rows: repeat(2, 241px);
        gap: 20px;
    }
    
    &-gallery__left {
        display: grid;
        grid-template-areas: "left";
        row-gap: 20px;
    }

    
    &-gallery__right {
        display: grid;
        grid-template-areas: "right";
        row-gap: 20px;
    }
   
}

@media (max-width: 1300px) {
    .ourcompany {
        display: block;
    }
}

@media (max-width: 700px) {
    .ourcompany {
        
        &-gallery {
            display: inline-block;
            margin-bottom: 25px;
        }

        &-gallery__right {
            margin-top: 30px;
        }

        .statistic__company {
            display: block;
        }
    }
}

.ourcompany-about {
    padding-left: 130px;
    text-align: left;

    &__description {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 16px ;
        line-height: 29px;
    }

    .statistic__title {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        padding-bottom: 16px
    }

    .statistic__company {
        display: inline-grid;
        grid-template-columns: repeat(3, 130px) ;
        column-gap: 20px;
        font-weight: 700;
        color: #056088;
        font-size: 20px;
        padding-bottom: 25px;
    }
}





@media (max-width: 700px) {

    .ourcompany-about {
        padding: 0 20px;
        text-align: center;

        .statistic__company {
            display: block;
        }
    }
}


/* Services block
=========================================*/

.services {
    margin: 100px 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px , 240px) );
        grid-column-gap: 20px;
        justify-content: center;
        
    }

    &-item {
        text-align: left;
        padding: 27px 27px 15px 27px;
        color: black;
        cursor: pointer;
        &:hover {
        background-image: url('../img/ItemBG.png');
        background-color: $eclipse3;

        .svg {
            fill: $white;
        }

        }

    }
  
    

    &-item__img {
        display: inline-block;
        margin-bottom: 27px;
    }

    .svg {
        width: 42px;
        height: 42px;
    }

    
    &-item__name {
        margin-bottom: 16px;
    }


}



/* Our benefits
=============================================*/

.carts {
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(32%, 416px) );
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: -70px;

    &__item {
        position: relative;
        width: 416px;
        height: 313px;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    &__content-inner {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__img {
        padding: 54px 0 34px 0;
    }

    &__item-name {
        padding-bottom: 16px;
    }
    
    &__item-description {
        margin: 0 57px;
    }
}

@media (max-width: 700px) {

    .carts {
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(375px, 375px) );

    &__item {
        //width: calc(1300px / 3.5);
        width: 375px;
        
        .carts__bg {
            display: none;
        }

        .carts__content-inner {
            background-color: $eclipse2 ;
            position: absolute;
            left: 0;
            top: 0;
        }

        .carts__item-description {
            padding-bottom: 20px;
        }
    }

}

} 

/* Our Works Block
=========================================*/

.works__bg {
    height: 1600px;
    width: 100%;
    background: url("../img/Rectangle.jpg")   no-repeat;
    background-size: cover;
    margin-bottom: -150px;
}

.section__title--white {
    padding: 250px 0 25px 0;
    color: $white;
}

.section__description--white {
    color: $white;
}

.works__gallery {
    margin: 60px 0;
}

.works__gallery_items {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "left" "central" "right"; 
    grid-template-columns: repeat(3, 420px);
    justify-content: center;

    .left__block {
        display:  grid;
        grid-template-areas: "left";
    }
    
    .central__block {
        display:  grid;
        grid-template-areas: "central";
        grid-gap: 20px;
        justify-content: stretch;
        grid-template-rows: 277px 163px;
        grid-template-columns: repeat(420px);
    }
    
    
    .right__block {
        display:  grid;
        grid: repeat(3, 118px) / repeat( 2, 200px) ;
        grid-template-areas: "right";
        grid-gap: 20px;
    }
    
}


.button__page--works {
    margin-bottom: 82px;
}


@media (max-width:1300px) {
    
    .works__gallery_items {
        
        grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
    }
    
    .buttons__works_inner {
        margin-top: 88px;
    }

}

@media (max-width: 700px) {

    .works__bg {
        background: none;

        .works__block {
            
            .works__gallery {
              
                .works__gallery_items {
                    grid-template-columns: repeat(auto-fit, minmax(375px,375px));
                    
                    .left__block {
                  
                        &_items {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                    .central__block {
    
                        &_items {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }


                    .right__block {
                        grid: repeat(3, 175px) / repeat( 2, 175px) ;

                        &_items {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
               

            } 

            .section__title {
                color: black;
            } 
             
            .section__description {
                color: black;
            }
        }
    }
}



/* Clients Block
========================================*/

.clients__content {
    display: flex;
    margin-top: 166px ;

    .left__block {
        text-align: left;
        height: 330px;
        width: 320px;
        background-color: $white;
        &_inner {
            padding: 51px 33px 0 32px;
        }
    }

    .right__block {
        background: url("../img/clientsIMG.jpg") center no-repeat;
        width: 100%;
        background-size: cover;
        position: relative;

        .right__block_comment {
            position: absolute;
            right: 0;
            bottom: -50px;
            width: 416px ;
            height: 266px;
            background-color: $eclipse2;

            .client__photo {
                margin-top: -65px;
                
                margin-left: -370px;
            }

            .carts__item-description--clients {
                text-align: left;
                padding: 0 0 24px 50px ;
                color: $white;
                font-size: 16px;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 700px) {
    .clients__content {
        display: block;

        .left__block {
            width: 100%;
            text-align: center;
        }

        .right__block {
            display: none;
            
        }
    }
}

/* Our Partners Block
===================================================*/

.partners__block {
    margin: 300px 100px;
    
    .row__name_inner {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;

        .co__name {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 30px;
            color: black;
        }
    }

    .video__inner {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
       

        .video__partners {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 512px;
        border-width: 0;
        outline-width: 0;
        }
    }
}

@media (max-width: 1300px) {
    .partners__block {
        margin: 850px 100px 300px 100px ;
        
        .row__name_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .co__name {
               margin-bottom: 20px;
            }
        }

        .video__partners {
            width: 100%;
        }
         
    }
}

@media (max-width: 1000px) {
    
    .partners__block {
        margin: 1200px 100px 300px 100px ;
        

        .video__partners {
            width: 100%;
        }
         
    }
   
}

/* Subscribe Block
========================================*/

.subscribe__block {
    margin-top: -200px;
    max-width: 1300px;
    background: url("../img/submitFormBG.png") center no-repeat;
    background-color: $eclipse2;
    background-size: cover;

    &_inner {
      
        .intro__title--subscribe {
            padding-top: 55px;
            color: $white;
        }

        .section__description--subscribe {
            color: $white;
        }

        .submit__form_main {
            padding-bottom: 54px;

            .form__main_page {
                width: 640px;
                position: relative;
                margin: 0 auto;
                
                
                .input__main_page {
                   outline-color: none;
                   width: 100%;
                   height: 62px;
                   border: none;
                }

                .submit__button_main {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 138px;
                    height: 62px;
                    outline: none;
                    color: $white;
                    border: $eclipse2;
                    text-align: center;
                    cursor: pointer ;
                    background-color: $eclipse2;
                    
                    &:hover {
                        transition: all 2s ease;
                        background-color:  $eclipse3;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {

    .subscribe__block_inner {

        .submit__form_main {
            margin: 54px 20px 54px 20px;

            .form__main_page {
                width: 100%;
            }
        }
    }
    
    
    
    
}

/* Footer 
=============================================*/

.footer {
    width: 100%;
    background-color: $eclipse3;
    margin-top: 100px;
    

    &__inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 60px 30px 0 50px;
        justify-content: center;
        

        &_left {
            text-align: left;
            margin-bottom: 30px;
            

            .site__logo--footer {
                text-align: left;
            }

            .footer__address {
                white-space: nowrap;
                margin: 16px 0 32px 0 ;
                text-align: left;
            }
        }
        
        .footer__list_block {
            //padding-left: 150px;
            margin: 30px 0 30px 150px;
           
            &:first-child {
                padding-left: 0px;
            }
        }

        .footer__list_title {
            text-align: left;
            font-family: 'Poppins';
            font-size: 24px;
            font-weight: 700;
            color: $white;
            margin-bottom: 32px;
        }
        
        .footer__list {
            list-style-type: none;
            padding: 0;
            text-align: left;
            font-family: 'Poppins';
            text-decoration: none;
            
            .list__item {
                margin-bottom: 20px;
            }

            .footer__list_inner {
                color: $white;
                margin-bottom: 16px ;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-decoration: none; 
                cursor: pointer; 

                &:hover {
                    transition: 3s all;
                    color: black;
                }
            }

        }

    } 

}

@media (max-width: 700px) {
    
    .footer__inner {

        .footer__list_block {
            margin: 30px 0 30px 30px;
           
            .footer__list_inner {
                text-align: center;
            }
        }
    }
    
}

/* Modal 
============================*/ 

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &__dialog {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        .modal__content {
            background-color: $white;
            color: $eclipse3;
            max-width: 500px;
            padding: 30px;
            font-family: 'Poppins';
            position: fixed;

            &_close {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 25px;
                color: black;
                text-decoration: none;
                cursor: pointer;
                transition: 1s;

                &:hover {
                    transform: scale(1.2); 
                }
            }

            &_title {
                color: $eclipse2;
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
}


/* Page About
============================  */

.intro {
    &--page {
        height: 490px;
    }

    &__inner--page {
        text-align: center;
        padding: 150px 50px;
    }
}

.top__about {
    margin-top: 105px;
    display: flex;
    //flex-wrap: wrap;
    width: 100%;
    animation-duration: 2s;
    animation-name: slidein;

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
    }

    .l__block {
        position: relative;
        height: 530px;
        width: 50%;
        background-image: url("../img/AboutLeftBigImg.png") ;
        background-size: cover;

        .l__block_img {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: -50px;
        }
    }

    .r__block {
        text-align: left;
        width: 50%;
        margin-left: 100px;
        .section__description--about {
            
            color: black;
        }
    }
}

.down__block {
    margin: 75px 0;
    background: url("../img/AboutDownBG.png") center no-repeat;
    background-size: cover;
    background-color: $eclipse3;

    .down__block_inner {
        display: flex;
        //flex-wrap: wrap ;
        width: 100%;
        padding: 40px 0 ;
        text-align: left;
        
        
        .down__block_description {
            width: 50%;
            .section__title--down {
                color: $white;
            }

        }
    }

    .down__img {
        margin-left: 150px;
        width: 50%;
    }

}

@media (max-width: 1000px) {

    .intro__inner--page {
        padding: 150px 15px;

       .intro__title--page {
           font-size: 30px;
           text-align: center;
           
       }

   }

    .top__about {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        .l__block {
            width: 95%;

            .small__img {
                display: none;
            }
        }


        .r__block {
            width: 100%;
            margin-top: 40px;
            margin-left: 40px;
        }
    }
    
    .down__block {
        
        .down__block_inner {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
    
            .down__block_description {
                width: 100%;
                padding: 0 50px;
                text-align: left;
            }
            
        }

    }

    

}

/* Contact page 
===============================================*/

.contact__top {
    display: flex;
    margin-top: 100px;

    &_img {
        object-fit: cover;
    }

    .contact__form {
        margin-left: 39px;

        &_page {
            width: 100%;
            
            .input__company {
               width: 346px;
               height: 50px;
               border: white;
               cursor: pointer;
               margin-bottom: 16px;
               color: black;
               font-family: 'Poppins';
               font-size: 16px;


               &:hover {
                outline-color: $eclipse2;
               }
            }

            .input__email {
                width: 346px;
                height: 50px;
                border: $white;
                cursor: pointer;
                margin-bottom: 16px;
                color: black;
                font-family: 'Poppins';
                font-size: 16px;

               &:hover {
                outline-color: $eclipse2;
               }
            }
             
            .textarea__form {
                width: 696px;
                height: 183px;
                border: none;
                color: black;
                font-family: 'Poppins';
                font-size: 16px;
                margin-bottom: 16px;

                &:hover {
                    outline-color: $eclipse2;
                }

            }

            .submit__button_main {
                display: block;
                width: 138px;
                height: 62px;
                outline: none;
                color: $white;
                border: $eclipse2;
                text-align: center;
                cursor: pointer ;
                background-color: $eclipse2;
                
                &:hover {
                    transition: all 2s ease;
                    background-color:  $eclipse3;
                }
            }

        }

    }
}

@media (max-width: 1300px) {
    
    .intro__inner--contact {
         padding: 150px 15px;

        .intro__title--contact {
            font-size: 30px;
            text-align: center;
            
        }

    }

    .contact__top {
        display: block;

        .contact__form {

            .input__company {
                width: 50%;
            }

            .input__email {
                 width: 50%;
            }

            .textarea__form {
                width: 100%;
            }
        }

    }
}

.down__block_inner--contact {
    margin: 100px 0;

    .button__page--conact {
        margin: 55px 0 32px 32px;
    }
}

@media (max-width: 700px) {

    .contact__top {

        .contact__top_img {
            display: none;   
        }
         
        .contact__form {

            .input__company {
                width: 100%;
            }

            .input__email {
                 width: 100%;
            }

            .textarea__form {
                width: 100%;
            }
        }
    }
}

/* Gallery Page
=========================================*/ 

.gallery {
    margin: 100px 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        list-style-type: none;
        column-gap: 20px;
        row-gap: 50px;
        padding: 0;
        justify-content: center;

        &_item {
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(10px, 1fr) 1fr / 1fr ;
            text-align: left;
            font-family: 'Poppins';

            .item__name {
                color: $eclipse2;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    .open__list {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: $eclipse3;
        outline: $eclipse2;
        color: $white;
        border: none;
        cursor: pointer;
        transition: 1s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

@media (max-width: 700px) {
   
    .gallery__inner {
        grid-template-columns: repeat(auto-fit, minmax(375px, 375px));

        &_item {

            .gallery__photo_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* News Page
=============================================*/ 

.news__top {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background: url("../img/newsTopBG.jpg") center no-repeat;
    background-size: cover;
    margin-top: 100px;
    width: 100%;
    height: 436px;
    color: $white;
    font-family: 'Poppins';
    
    .intro__title--news {
        padding-left: 76px;
    }

    .news__subtitle {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400px;
        text-align: left;
        padding:0 78px 29px 150px;
    }
}

.gallery {

    .open__list {
        margin-top: 30px;
    }
}

/* Career Page
==============================================*/ 


.career {
   
    .carrer__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        list-style-type: none;
        padding: 0 ;
        text-align: left;
        justify-content: center;
        margin-bottom: 100px;
        
        .list__inner {
            margin: 30px auto 16px 30px;
              font-family: 'Poppins';
              white-space: nowrap;
              
            .item__title {
               padding-bottom: 6px;
               color: $eclipse2;
            }

            .work__experience {
                padding-bottom: 6px;
                &::before {
                    content: url("../img/careerIMG3.png");
                    margin-right: 9px;
                }
            }

            .work__time {
                padding-bottom: 6px;
                &::before {
                    content: url("../img/careerIMG2.png");
                    margin-right: 9px;
                }
            }

            .cash {
                padding-bottom: 6px;
                &::before {
                    content: url("../img/careerIMG1.png");
                    margin-right: 9px;
                }
            }

            .button__page--career {
                margin-top: 32px;
            }
        }
    }

    .open__list {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: $eclipse3;
        outline: $eclipse2;
        color: $white;
        border: none;
        cursor: pointer;
        transition: 1s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

@media (max-width: 860px) {
    .career {
        .carrer__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
    
    }
    
 
}

/* Process Details Page
=============================================*/

.process__top {
    display: flex;
    margin: 100px 0;
    width: 100%;
    flex-wrap: wrap;

    .process__inner {
        text-align: left;
        margin-right: 39px;
        width: 45%;

        .inner__item_name {
            color: #056088;
            font-size: 24px;
            font-weight: 700;
        }

        .process__description {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            padding: 16px 0;
            align-items: 27px;
        }

        .inner__item_price {
            display: grid;
            grid-template-columns: repeat(2, 172px);
            column-gap: 62px;
            font-size: 20px ;
            font-weight: 700 ;
            font-family: 'Poppins';
            color: $eclipse2;
            white-space: nowrap;
        }
    }
    
    .process__img {
        width: 50%;
    }
}

@media (max-width: 1300px) {
    .process__top {
        display: block;
        text-align: center;

        .process__inner {
            width: 100%;
            text-align: center;

            .inner__item_price {
                justify-content: center;
                margin: 20px 0;
            }
        }
    }
}

@media (max-width: 700px) {
    .process__top {
      
        .process__inner {

            .inner__item_price {
                grid-template-columns: repeat(auto-fill,minmax(172px, 172px));
                //display: block;
            }
        }
        
    }
    

}

.process__central {
    position: relative;
    padding-bottom: 56%; 
    height: 0;
    overflow: hidden;
    margin: 0 50px 0 50px;

    .process__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 531px;
        border-width: 0;
        outline-width: 0;
    }
}

.process__gallery {

    .process__gallery_name {
         color: $eclipse2;
         margin-bottom: 25px;
    }
    
    .gallery__slider {
        
        .slider {
            max-width: 1300px;

            .slider__wrapper {
                overflow: hidden;

                .slider__items {
                    
        
                    .slider__item {
                        flex: 0 0 33.3333333333%;
                        max-width: 33.3333333333%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba(255,255,255, 0.8);
                        font-size: 7rem;
                    }
                }
            }  
        }
    }  
}

@media (max-width: 1300px) {
    .slider__item {
        flex: 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255,255,255, 0.8);
        font-size: 7rem;
    }

}

/* Services Page
=====================================================*/ 

.services__inner--page {
    margin: 100px 0 ;
}

.services__center {
    display: flex;
    width: 100%;
    height: 428px;
    //background: url("../img/servicesCenterBG.png") ;
    //background-size: cover;
    
    &_left {
      width: calc(1300px / 2);
    }

    &__right {
        width: 50%;
        
        .section__title--center {
            margin: 90px 0 38px 0  ;
        }
    }
}

.services__down {
    display: flex;
    width: 100%;
    margin: 100px 0;
    
    &_left {
        width: 50%;
        margin: 120px 0;
    }

    &_right {
        width: 50%;
    }
}

.animated__block {
    opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animated__block._active {
    opacity: 1;
	transform: translateY(0);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 1000px ) {

    .services__center {
        display: block;
        width: 100%;
        height: 428px;
        background: url("../img/servicesCenterBG.png") ;
        background-size: cover;
        text-align: center;
        
    
        &_left {
          display: none;
          
        }
    
        &__right {
            width: 100%;
            color: $white;

            .section__title--center {
               padding: 50px 0 38px 0 ;
               color: $white;
            }

            .section__description--services {
               margin: 0 35px;
            }
        }
    }
    
    .services__down {
        display: block;
        width: 100%;
        height: 328px;
        margin: 100px 0;
        background: url("../img/servicesDownBG.png");
        
        &_left {
            width: 100%;
            padding: 60px 0;
            color: $white;
        }
    
        &_right {
            display: none;
        }
    }
}

/* Story page 
============================================*/ 

.wrapper__commets {
margin: 100px 0;

          
    .comments {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: 20px;
        justify-content: center;
        
        &__list {
            width: 33%;
            
            .comments__item {
               
                height: 373px;
                justify-content: center;
                align-items: center;
         
                &_inner {
                     color: black;
                     text-align: left;
                     font-size: 16px;
                     font-weight: 400;
                     font-style: italic;
                     padding: 12px 12px 12px 12px;
                     cursor: pointer;
                     font-family: 'Poppins';
         
                     &:hover {
                         color: $white;
                         background: url("../img/sliderClientBG.png");
                         transform: all 2s ease;
                    }
                }
            } 
        }
        
        
    }
}


.tab {
    display: none;
}

.tab._active  {
    display: block;


    .tab__top {
        display: flex;
        height: 428px;
        background: url("../img/servicesDownBG.png") no-repeat;
        background-size: cover ;

        .tab__photo {
            padding: 64px 64px;
        }
        
        .tab__comment {
            padding: 120px 80px;
            color: $white;
            text-align: left;

            .client__name {
                padding-bottom: 20px;
                font-size: 24px;
                font-weight: 700;
            }
        }
    
    }

   .section__title--story {
       color: $eclipse2;
       margin: 100px 0 32px 0;
   }

   .process__gallery {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(420px, auto));
       gap: 20px;
       justify-content: center;
   }

}

@media (max-width: 1300px) {
    .tab._active  {
    
        .tab__top {
            display: block;
            color: black;
            //background: none;
            height: auto;
        }
}
}
    

@media (max-width:700px ) {

    .comments {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        &__item {
            height: 150px;

            &_inner {

                .comments__text {
                    display: none;
                }
            }
        }
    }

    .tab._active  {
    
        .tab__top {
            display: block;
            color: black;
            height: auto;
        }



        .process__gallery {
            margin: 100px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(375px, 375px));
            gap: 20px;
            justify-content: center;
    
            .process__gallery_img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
        }
    }
   
}